version: 2.1

jobs:
  build-and-deploy:
    docker:
      - image: cimg/node:18.17
    environment:
      IMAGE_NAME: "sanketdesai09/todo-react-app"
      MANIFEST_REPO: "https://github.com/dev-sd092/Todo-EKS-Deployment-GitOps-k8s-manifests.git"
    steps:
      - checkout

      # Step 1: Build Docker image
      - run:
          name: Build Docker image
          command: |
            echo "Building Docker image..."
            cd Appcode
            docker build -t $IMAGE_NAME:${CIRCLE_SHA1} .

      # Step 2: Login to DockerHub
      - run:
          name: Login to DockerHub
          command: |
            echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin

      # Step 3: Push to DockerHub
      - run:
          name: Push Docker image
          command: |
            docker push $IMAGE_NAME:${CIRCLE_SHA1}

      # Step 4: Clone k8s manifests repo
      - run:
          name: Clone manifests repo
          command: |
            git clone $MANIFEST_REPO manifests

      # Step 5: Update image tag in deployment.yaml
      - run:
          name: Update manifests with new image
          command: |
            cd manifests
            sed -i "s|image:.*|image: $IMAGE_NAME:${CIRCLE_SHA1}|" deployment.yaml
            git config --global user.email "circleci@automation.com"
            git config --global user.name "circleci"
            git add deployment.yaml
            git commit -m "Update image tag to ${CIRCLE_SHA1}"
            git push https://$GITHUB_TOKEN@github.com/sanketdesai09/todoapp-manifests.git HEAD:main

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build-and-deploy
